
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none
    ;
}
body{
    font-family: "Comfortaa", sans-serif;
    background-image: url(IMG_9296.jpeg);
    backdrop-filter: blur(10px);
    height: 100vh;
    background-position: center;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.link:hover {
    color: #bba88d !important;  
}
header{
    position: relative;
    padding: 0 2rem;
    background-color: rgba(29, 37, 29, 0.522);

}
 .navbar{
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(250, 250, 248, 0.976);
 
}
.link {
    color: white;     /* Force la couleur blanche */
    font-size: 13px;
    text-transform: uppercase;   /* Tout en majuscules (style portfolio) */
    transition: color 0.3s;      /* Animation douce au survol */

}
.nav-link{
    display: flex;
    gap: 2rem;
}
.btn-cv{
    font-size: 14px;
    background-color: rgb(7, 7, 7);
    color: rgb(238, 236, 233);
    border: 1px solid rgb(168, 147, 89);
    padding: 0.5rem 1.2rem;
    border-radius: 15px;
} 
.btn-cv:hover{
    color: #bba88d !important; 

}


/* 4. Bouton Menu "Burger" */
.menu_burger {
     display: none;  
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.burger_menu{
    display: none;    
     height: 0;         /* On le force à s'afficher */
    right: 5px;
    flex-direction: column;     /* Les liens les uns sous les autres */
    position: absolute;         /* Il "flotte" au-dessus du reste */
    top: 59px;                  /* Juste en dessous du header */
    width: 100%;                /* Prend toute la largeur */
    background-color: rgba(24, 21, 22, 0.195); 
    z-index: 10;                
    padding-bottom: 5px;
    overflow: hidden;
    transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.divider{
    height: 1px;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.burger_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger_menu.open{
    height: 310px;
}

/* 5. Responsive (Pour mobile < 768px) */
@media (max-width: 768px) {
    .nav-link {
        display: none;           /* On cache le menu texte sur mobile */
    }
    .menu_burger {
        display: block;          /* On affiche le burger sur mobile */

    }
    .burger_menu{
    display: block;
}
}

.link.open{
    opacity: 1;;
    transform: translateX(0);
    pointer-events: auto;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 39px;
    align-items: center;
    z-index: 100; /* Pour passer au-dessus du reste */
}
